files/CV/cv.aux
files/CV/cv.bbl
files/CV/cv.blg
files/CV/cv.log
files/CV/cv.out
files/CV/cv.tex
files/CV/deedy-resume.cls
files/CV/fonts
files/CV/Makefile
files/CV/publications.bib
files/CV/RodesGuiraoCV.pdf
files/CV/single-page-resume.cls
files/CV/template.aux
files/CV/template.log
files/CV/template.out
files/CV/template.pdf
files/CV/template.tex
files/CV/texput.log
_site

tmp.md

.idea